.directorFilm__container {
  display: grid;
  grid-template-columns: 23.5vw 23.5vw 23.5vw 23.5vw;
  margin: 2vw;
  grid-gap: 0.333vw;
}
.SelectedDirectorFilm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.director__container {
  background: white;
  padding: 2vw;
}
