.film {
  padding: 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.film:hover {
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}
