h2 {
  font-family: "BalboaPlus", sans-serif;
  font-size: 60px;
}

.modal__background {
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.modal__container {
  height: 40vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* NOTE!!!!  DO NOT MAKE CHANGES TO MODAL_IMAGE WIDTH PROPERTY WITHOUT CHECKING CONTENT_BACKGROUND BELOW. */
.modal__image {
  height: 40vw;
  width: 25vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.flex__flex {
  height: 40vw;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* NOTE!!!! THE MIN-WIDTH PROPERTY DEPENDS ON THE WIDTH PROPERTY OF MODAL_IMAGE, ABOVE */
.content__background {
  /* min-width: 70vw; */
  background-color: rgba(14, 13, 13, 0.777);
  padding: 25px;
}

.words__flex {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.modal__words {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 12px;
  padding-right: 1.5vw;
}

.buttons__flex {
  width: 75vw;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.modal__buttons {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 25px;
}
